.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 0 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  background-color: #112472;
  .transition();
  
  &:hover,
  &:active {
    background-color: #162e93;
    .transition();
  }
  
  &--border {
    color: #222;
    background-color: #fff;
    border: 2px solid #e32a66;
    
    &:hover,
    &:active {
      background-color: #fef4f7;
      .transition();
    }
  }
  
  &--red {
    background-color: #e32a66;
    
    &:hover,
    &:active {
      background-color: #d61c58;
      .transition();
    }
  }
}

.link-icon {
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 16px;
  color: #1f4181;
  text-decoration: underline;
  
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 12px;
    background-image: url(../img/icons/icon_more_link.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: @red;
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
