.form {
  width: 100%;
}

.form__select,
.form__message,
.form__input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  border: solid 1px #A9A9A9;
  border-radius: 2px;
  
  &::placeholder {
    text-transform: uppercase;
    color: #919191;
    opacity: 1;
  }
}

.form__input {
  height: 30px;
  text-align: center;
  
  &--shadow {
    width: 192px !important;
    padding: 0 15px;
    border: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  }
  
  &--mr {
    margin-right: 30px;
  }
}

.form__message {
  height: 102px;
  min-height: 102px;
  padding: 5px 10px;
  
  &--shadow {
    width: ~"calc(100% - 90px)";
    border: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  }
}

.form__select {
  height: 30px;
  outline: none;
  background-color: #fff;
}

.form__line {
  display: flex;
  justify-content: space-between;
  
  .form__select {
    width: 208px;
  }
  
  .form__input {
    width: 96px;
  }
}

.form__btn {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  background: #FFF567;
  border: solid 1px #000;
  .transition();
  
  &:hover,
  &:active {
    color: #fff;
    background-color: @blue;
    .transition();
  }
}

.form__label {
  width: 90px;
  
  span {
    color: @red;
  }
}

.form__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 90px;
}

.form__link {
  color: @blue;
  font-size: 14px;
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.form__send {
  padding: 0;
  width: 370px;
}
