.modal {
  padding: 25px 20px 10px 20px;
  background-image: none;
  background-color: #fff;
  width: 360px;
  max-width: 100%;
  font-size: 14px;
  line-height: 16px;
  
  i {
    color: #919191;
  }
}

.fancybox-is-open .fancybox-bg {
  background: rgba(24, 48, 130, 0.5);
  opacity: 1;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 25px;
  color: #474747;
  font-weight: 700;
  text-transform: uppercase;
}
