.photo {
  .title {
    margin-top: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
  }
}

.photo__wrap {
  position: relative;
  margin: 60px -25px;
  border: 2px solid #e32a66;
  padding: 40px 0 30px;
}

.photo__slider {
  margin-left: 40px;
  margin-right: 40px;
}

.photo__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 35px;
  font-size: 14px;
  padding: 0;
  
  i {
    font-size: 18px;
    margin-right: 7px;
  }
}

.photo__prev,
.photo__next {
  margin-top: 0;
}

.photo__img {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  
  img {
    display: block;
    height: 156px;
    width: auto;
  }
  
  i.fa {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background: #112472;
    text-align: center;
    color: #fff;
    line-height: 26px;
    font-size: 14px;
  }
  
  &::after {
    content: "\f00e";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 156px;
    background-color: rgba(17,36,114,0.3);
    opacity: 0;
    .transition();
  }
  
  &:hover {
    &::after {
      opacity: 1;
      .transition();
    }
  }
}

.photo__icon {
  position: absolute;
  z-index: 5;
  bottom: 5px;
  left: 5px;
  
  &:hover {
    i.fa {
      background-color: @red;
    }

    .photo__hidden {
      opacity: 1;
      .transition();
    }
  }
}

.photo__hidden {
  position: absolute;
  z-index: 15;
  bottom: 32px;
  left: 0;
  width: 150px;
  padding: 5px;
  font-size: 12px;
  line-height: 1.2;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 12px 8px -10px rgba(0,0,0,0.1);
  opacity: 0;
  .transition();
}

.photo__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -38px;
  margin-bottom: 30px;
}

.photo__item {
  width: 206px;
  margin-right: 38px;
  margin-bottom: 38px;
}

.photo__comments {
  margin-bottom: 40px;
  margin-top: 50px;
}

.photo__comment {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 40px;
  margin-bottom: 10px;
  
  .fa {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #112472;
    color: #fff;
    text-align: center;
    line-height: 26px;
  }
  
  .fa-info {
    background-color: #e32a66;
  }
}
